# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/calc/nbproject/private/
/calc/build/
/calc/dist/
/Day2/nbproject/private/
/Day2/build/
/Day3/nbproject/private/
/Day3/build/
/HomeWorkNumInput/nbproject/private/
/HomeWorkNumInput/build/
/Day4/nbproject/private/
/Day4/build/
/Day5/nbproject/private/
/Day5/build/
/Day6/nbproject/private/
/Day6/build/
/Kalkulator/nbproject/private/
/Kalkulator/build/
/Day7/nbproject/private/
/Day7/build/